requests
urllib3
pyshark
python-nmap
lxml
termcolor
packaging
appdirs
PyPDF2
exifread
python-docx
olefile
Pillow
geoip2
scapy
matplotlib
beautifulsoup4
phonenumbers
ipapi
folium
geocoder
colorama
pyfiglet
git+https://github.com/aboul3la/Sublist3r.git@master
bs4


