requests
socket
whois
urllib3
re
git+https://github.com/aboul3la/Sublist3r.git@master
pyshark
python-nmap
lxml
termcolor
packaging
appdirs
PyPDF2
exifread
python-docx
olefile
Pillow
geoip2
scapy
matplotlib
beautifulsoup4
phonenumbers
